/* navbar stared */
.logo-image{
    width: 165px;
}
.nav-item{
    font-size: 1.6rem;
    text-decoration: none;
}
.navbar{

    padding: 15px;
}

.franchise-btn{
    background-color: transparent;
    padding: 15px 25px ;
    border-radius: 30px;

}

.order-btn{
    background-color:#ed1c24;
     padding: 20px 25px;
    border-radius: 25px;
    padding: 10px 25px;
    border: none;
    font-size: 1.6rem;
}

.circle-btn{
background-color:#ffffff ;
padding:10px 10px;
border-radius: 30px;
color:#ed1c24;
}

.arrow-icon{
font-size: 1.5rem;

}
.image1{
    width: 100%;
}


/* navbar ended */

/*carousel started*/
.container{
font-family: 'fonts/Apercu Font Family';
font-style:normal ;
text-align: center;
color: #ffffff;
margin: bottom 10px;
}

.main-heading{
font-weight:400px;
font-size:24px;
line: height 100 px;
}

.restaurant{
width: 165px;
position:absolute


}

/*carousel ended*/





